      <div class = 'row yelp_logo'><a href='https://www.yelp.com' target = '_blank'><img src = 'https://s3-media3.fl.yelpcdn.com/assets/srv0/developer_pages/65526d1a519b/assets/img/Powered_By_Yelp_Red.png'></a></div>
    </div>
  </body>
</html>
