<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href="/stylesheets/skeleton.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src='/js/application.js'></script>
  </head>
  <body>
  <div class='container header'>
    <div class='row navbar'>
        <div id='logo' class='four columns'><a href = '/'>home</a>
        </div>
        <div class='four columns offset-by-four navlinks'>
        <% if (session.userID){ %>
          <% if (session.userType == 'user'){ %>
            <div id='user-logged-in'>
              <a href = '/users/<%= session.userID %>'>Profile</a>
              <a href = '/users/logout'>Logout</a>
            </div>
          <% } else { %>
            <div id='truck-logged-in'>
              <a href = '/trucks/<%= session.userID %>'>Profile</a>
              <a href = '/trucks/logout'>Logout</a>
            </div>
          <% } %>
        <% } else{ %>
          <div id='logged-out'>
            <a href = '/trucks/new'>I'm A Truck</a>
            <a href = '/users/new'>Login / Sign-up</a>
          </div>
        <% } %>
        </div>
    </div>
  </div>

    <div class='container'>


