<form method='post', action="/favorites/<%=truck.id%>?_method=DELETE">
  <input type='hidden' name='_method' value='delete'>
  <button type='submit' class='icon'><i class='fa fa-star fa-2x'></i></button>
</form>
