<!DOCTYPE html>
<html>
  <head>
    <title>Register an Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register an Account</h1>
    <form method='post', action='/users'>
      <input name='email' placeholder='example@email.com'>
      <input name='name' placeholder='John D.'>
      <input name='cell' placeholder='123456789'>
      <input name='password' placeholder='password' type='password'>
      <input type='submit'>
    </form>

    
  </body>
</html>
