<% include ../partials/header %>

  <h1><%= currentUser.name %></h1>
  <p>Welcome, <%= currentUser.name %>!</p>
  <p>Your email is <%= currentUser.email %></p>
  <% favorites.forEach(function(favorite){ %>
    <p><%=favorite.name%></p>
    <% }) %>

<% include ../partials/footer %>