<!DOCTYPE html>
<html>
  <head>
    <title><%= user.name %>'s profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= user.name %></h1>
    <p>Welcome to <%= user.name %></p>
    <p>Your email is <%= user.email %></p>

    
  </body>
</html>
