<% include ../partials/header %>

  <h1><%= user.name %></h1>
  <p>Welcome, <%= user.name %>!</p>
  <p>Your email is <%= user.email %></p>
  <% favorites.forEach(function(favorite){ %>
    <p><%=favorite.name%></p>
    <% }) %>

<% include ../partials/footer %>