
<% include ../partials/header %>
    <script src='/js/user_map.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAP_KEY %>&signed_in=true&callback=initMap"
         async defer></script>

    <h1>All Trucks</h1>
    <ul>
    <% allTrucks.forEach(function(truck){ %>
      <li><%=truck.name %> -- <span>
        <%if(currentUser != undefined){ %>
          <%if(favorites.indexOf(truck.id) === -1){%>
            <form method='post', action="/favorites/<%=truck.id%>">
              <input type='submit' value='add to favorites'>
            </form>
          <% } else {%>

            <form method='post', action="/favorites/<%=truck.id%>?_method=DELETE">
              <input type='hidden' name='_method' value='delete'>
              <input type='submit' value='unfavorite'>
            </form>
          <%  } %>
        <% } %>
      </span>
      </li>
    <% }) %>

    <div id='truckmap' style='width:1080px; height:800px'></div>

<% include ../partials/footer %>
