<!DOCTYPE html>
<html>
  <head>
    <title>All Trucks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Trucks</h1>
    <h1><%=currentUser.name%></h1>
    <ul>
    <% allTrucks.forEach(function(truck){ %>
      <li><%=truck.name %> -- <span>
        <%if(favorites.indexOf(truck.id) === -1){%>
          <form method='post', action="/favorites/<%=truck.id%>">
            <input type='submit' value='add to favorites'>
          </form>
        <% } else {%>
        
          <form method='post', action="/favorites/<%=truck.id%>?_method=DELETE">
            <input type='hidden' name='_method' value='delete'>
            <input type='submit' value='unfavorite'>
          </form>
        <%  } %>
      </span>
      </li>
    <% }) %>

    
  </body>
</html>
