<% include ../partials/header %>
    <script src='/js/user_map.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAP_KEY %>&signed_in=true&callback=initMap&libraries=geometry" async defer></script>
         
    <div class='row map'>
      <h1>All Trucks</h1>
      <!-- <div class='six columns'> -->
        <div id="truckmap" ></div>
      <!-- </div> -->
      <% include ../partials/trucklist %>
    </div>

<% include ../partials/footer %>
