<% include ../partials/header %>
<div class="row">
  <div class="six columns">
    <h2>Register a Truck</h2>
	<form method='post', action='/trucks'>
	  <div class="row">
        <label for 'truck-url-field'>Yelp URL</label>
        <input name='yelpUrl' class="u-full-width" placeholder='www.yelp.com/biz/tacotuesdays' id="truck-url-field">
      </div>
      <div class="row">
        <div class="six columns">
          <label for 'truck-password-field'>Choose a Password</label>
	      <input name='password' class="u-full-width" placeholder='password' type='password' id="truck-password-field">
	    </div>
	  </div>
	  <div class="row">
	    <input name='name' placeholder='Taco Tuesdays'>
	  </div>
	  <div class="row">
	    <input name='description' placeholder='All the tacos on all the days' type='text'>
	  </div>
	  <input type='submit' value="Sign Up">
	</form>
  </div>

  <div class="six columns">
    <h2>Truck Login</h2>
    <form method='post', action='/trucks/login'>
    <div class="row">
      <label for 'truck-url-field'>Yelp URL</label>
      <input name='yelpUrl' class="u-full-width" placeholder='www.yelp.com/biz/tacotuesdays' id="truck-url-field">
    <div class="row">
    <div class="six columns"
      <label for 'truck-password-field'>Password</label>
      <input name='password' class="u-full-width" placeholder='password' type='password' id="truck-password-field">
    </div>
    </div>
      <input type='submit' value="Login">
    </form>
  </div>
</div>
<% include ../partials/footer %>