<% include ../partials/header %>
    <script src='/js/user_map.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAP_KEY %>&signed_in=true&callback=initMap"
         async defer></script>

    <h1><%= title %></h1>

    <div id='truckmap' style='width:540px; height:400px'></div>

    <form method='post', action="/trucks/<%=truck.id%>/setlocation?_method=PUT">
    <input class="button-primary" type="submit" value='Open for Business'>
    </form>
<% include ../partials/footer %>
