<!DOCTYPE html>
<html>
  <head>
    <title><%= truck.name %>'s profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= truck.name %></h1>
    <p>Welcome to <%= truck.name %></p>
    <p>Your yelp url is <%= truck.yelpUrl %></p>

    
  </body>
</html>
